<!DOCTYPE html>
<html>
<head>
  <title>Scriba</title>
  <%= stylesheet_link_tag    "scriba/application", :media => "all" %>
  <%= javascript_include_tag "scriba/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
